<head>
    <title>
        hello world

    </title>
    <body>
        <form>
           <input type="email" placeholder="please input your email" />



        </form>
        <img src = "http://img2.imgtn.bdimg.com/it/u=3588772980,2454248748&fm=27&gp=0.jpg" width = "200"/>
        <br>
        <input type="radio" name="car" /> 雅阁
        <input type="radio" name="car" /> 凯美瑞

        <iframe width="560" height="315" src="https://www.youtube.com/embed/fSewDQ0W6EA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </body>
</head>