*.ico
*.json
*.png
*.zip
Lesson4/build/*
Lesson4/config/*
Lesson4/node_modules/*
Lesson4/scripts/*
Lesson4/src/App.*
Lesson4/src/fonts/*
Lesson5/orgin/node_modules/*
Lesson6/node_modules/*
Lesson6/scripts/*
Lesson6/config/*
Lesson6/build/*
Lesson6/public/*
Lesson6/truffle-config.js
Lesson6/truffle.js
Lesson6/contracts/Migrations.sol
Lesson6/contracts/Ownable.sol
Lesson6/contracts/SafeMath.sol
Lesson6/migrations/*
Lesson6/src/index.*
Lesson6/src/utils/*
Lesson6/src/App.test.js
Lesson6/src/App.css
